asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
dj-rest-auth==6.0.0
Django==5.0.6
django-allauth==0.63.3
django-cors-headers==4.3.1
django-seed==0.3.1
djangorestframework==3.15.1
Faker==25.8.0
idna==3.7
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
toposort==1.10
typing_extensions==4.12.2
urllib3==2.2.1
